<div th:fragment="new-user-block">

<div style="background-color: #f2f2f2; border: solid 1px #dfdfdf; border-radius: 2px 2px 0 0">
    <h3>Add new user</h3>
</div>
<div style="background-color: white; border: solid 1px #dfdfdf; border-radius: 0 0 5px 5px">
    <div class="row">
        <div class="col vh-100"></div>
        <div class="col vh-100" style="background-color: white; text-align: center; font-weight: bold" >
            <form th:method="POST" th:action="@{/admin/user-create}">
                <br>
                <div class="form-group">
                    <label for="exampleInputName1">username</label>
                    <input type="text" class="form-control" name="username" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputLastName1">lastname</label>
                    <input type="text" class="form-control" name="lastname" id="exampleInputLastName1" aria-describedby="emailHelp" placeholder="Enter lastname">
                </div>

                <div class="form-group">
                    <label for="exampleInputAge1">Age</label>
                    <input type="number" class="form-control" name="age" id="exampleInputAge1" placeholder="Enter age">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Enter password">
                </div>

                <div class="form-group">
                    <div>
                        <label for="roles">Roles</label>
                    </div>
                    <select multiple size="2" id="roles" name="roles" style="width:100%">
                        <option th:each="role : ${allRoles}"
                                th:text="${role.name}"
                                th:value="${role.id}">
                        </option>
                    </select>
                </div>
                <br/>
                <div class="form-group">
                    <input type="submit" class="form-control" value="Add new user" style="background-color: #37ab60; color: white;">
                </div>
            </form><br>
        </div>
        <div class="col vh-100"></div>
    </div>
</div>
</div>